*{
    margin: 0;
}

body{
    background-color: #171a21;
}

.menu-navegacion{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    
}
.buscar a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 12px;
    background-color: #44416b;
    border: 2px solid #000000;
    padding:8px;
    align-items: center;
    
}
.buscar a:hover{
    font-size: 13px;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 35px 0 35px;
}
.menu a:hover{
    background-color: rgb(221, 219, 216);
    font-size: 30px;
}
.imagen{
    background-image: url(Imagenes/imagen.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    
}

.section1{
    margin: 50px 100px;
}

aside{
    float: right;
    width: 300px;
}

.aside h1{
    color: white;
}

.aside a{
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-decoration: none;
    color: #66c0f4;
}

.explorar h1{
    color: white;
}

.flecha{
    color: white;
    margin-top: 250px;
    font-size: 30px;
}

.consolas{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.consola-imagen{
    background-image: url(Imagenes/imagen.jpg);
    margin: 20px;
    width: 600px;
    height: 600px;

}

#tabla{
    color: white;
    border: 1;
     height: 500px;
      width: 500px;  
      background-color: #171A21;
      
}

#tabla1{
    color: white;
    border: 1;
     height: 500px;
      width: 500px;  
      background-color: #171A21;
    left: 100px;
}

#pedidos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-40%) translateY(200%);
    text-align: center;
    font-size: 25px;
}